{% extends 'articlesheader.html' %} 
    

{%block content%}
<!--================Blog Area =================-->
<section class="blog_area section-padding" style="background-color: wheat;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0"style="background-color: rgb(164, 221, 150);">
                <div class="blog_left_sidebar" >
                    {% for j in ast.articles%}
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <a href="{{j.url}}"><img class="card-img rounded-0" src="{{j.urlToImage}}" alt=""></a>
                            <a href="#" class="blog_item_date">
                                <img src="https://bhava-news.s3.jp-tok.cloud-object-storage.appdomain.cloud/cuba.png" alt="" style="width:50px;">
                                <p>{{j.author}}</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>{{j.title}}</h2>
                            </a>
                            <p>{{j.description}}</p>
                            <ul class="blog-info-link">
                                
                                <li><a href="#">{{j.publishedAt}}</a></li>
                            </ul>
                        </div>
                    </article>
                    {%endfor%}    
                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="blog_right_sidebar">
                    

                    
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Recent News</h3>
                        {% for j in ast.articles%}
                        <div class="media post_item ">
                            <a href="{{j.url}}"><img src="{{j.urlToImage}}" alt="post" style="width:200px ;"></a>
                            
                            <div class="media-body">
                                 <p>{{j.source.name}}</p>
                                 <h5>{{j.publishedAt}}</h5>

                            </div>
                        </div>
                        {%endfor%}
                        
                        
                        
                    </aside>
                    


                   


                    
                </div>
            </div>
        </div>
    </div>
</section>

                   

                   


{%endblock%}